<header>
  <div class="collapse bg-white" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-dark">Tentang</h4>
          <p class="text-muted">PunyArti - adalah media berbagi cerita. Mungkin kamu sulit untuk terhubung dengan orang lain secara langsung, namun kamu lebih mudah terhubung melalui cerita, untuk itu PunyArti hadir untuk mengabadikan ceritamu. Ceritamu dapat dibaca oleh semua orang di seluruh dunia, atau sekedar simpan untukmu saja jika itu hanyalah curahan isi hatimu untuk seseorang :)</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-dark">Menu</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-dark">Cerita</a></li>
            <li><a href="#" class="text-dark">Masuk</a></li>
            <li><a href="#" class="text-dark">Daftar</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark navbar-custom shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>PunyArti</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>


<!-- Cerita -->
<main role="main">

	<!-- Jumbotron -->
	<section class="jumbotron text-white text-center">
		<div class="container">
			<h1 class="jumbotron-heading">Mari Terhubung Melalui Cerita</h1>
			<p class="lead text-white">Bagikan ceritamu kepada dunia atau sekedar simpan untukmu saja.</p>
			<p>
				<a href="#" class="btn btn-primary btn-register my-2">Daftar Sekarang</a>
				<a href="#" class="btn btn-primary btn-write-story my-2">Tulis Cerita</a>
			</p>
		</div>
	</section>

</main>


<!-- footer -->
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a class="text-dark" href="#">Back to top</a>
    </p>
    <p>PunyArti adalah &copy; situs berbagi cerita!</p>
    <p>Bingung harus mulai darimana? <a class="text-dark" href="#">Panduan memulai</a>.</p>
  </div>
</footer>
